body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.post {
    width: 500px;
    background-color: white;
    margin-top: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile i {
    font-size: 30px;
}

.options i {
    font-size: 30px;
}

.post-img {
    width: 100%;
}

.post-img img {
    width: 100%;
    height: auto;
}

.post-body {
    padding: 10px;
}

.post-body p {
    margin-bottom: 10px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 25px;
}

.grup-icons {
    display: flex;
}

.grup-icons i {
    margin-right: 15px;
}
